#filter {
  border-radius: 0 0.7em 0.7em 0;
  background-color: rgb(6, 150, 160);
  border: 0.2em rgb(1, 95, 102) solid;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#searchBar {
  border: rgb(6, 150, 160) solid;
  border-width: 0.2em;
  padding: 0.2em 0.2em 0.2em 0.5em;
  width: 300px;
  height: 50px;
  outline: none;
}

#searchButton {
  border: 0.2em rgb(1, 95, 102) solid;
  background-color: rgb(6, 150, 160);
  color: black;
  font-weight: bold;
  padding-bottom: 0.2em;
  width: 40px;
}

#searchButton:hover {
  background-color: rgb(0, 231, 236);
}

a.advButton:link, a:visited {
  background-color: rgb(6, 150, 160);
  border: 2px rgb(1, 95, 102) solid;
  color: white;
  padding: 14px 0;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
}

a#notwhite {
  color: rgb(0, 231, 236);
}

select#sortList:hover {
  color: rgb(0, 231, 236);
}

#advancedList {
  position: sticky;
  display: none;
}

#advButton {
  background-color: rgb(6, 150, 160);
  border: 2px rgb(1, 95, 102) solid;
  margin-left: 2px;
  height: 50px;
  color: white;
  cursor: pointer;
}